html {
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
    font-family: helvetica;
  }
  
  a {
    color: #ED474A;
  }
  
  header {
    padding: 10px;
    background: #084c61;
    color: #ED474A;
    text-align: center;
  }
  
  nav {
    background-color: #084C61;
    text-align: center;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin: 20px;
    font-size: 24px;
  }

  li:hover a{
    color: #A0D7D9;
 
 }
  section {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    min-height: 800px;
    text-align: center;
  }
  
  section img {
    margin-top: 0;
    width: 100%;
  }

  #map {
    width: 50%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  
  footer {
    clear: left;
    padding: 10px;
    background: #084C61;
    color: beige;
    text-align: center;
  }